# Ignore the actual config file so as to not share the pw
config.yml
config.yml~

__pycache__
*.pyc
.pytype/
geckodriver.log

# Google drive creds
creds.json
client_secret.json
storage.json

output/

# Chrome things
chrome/osx/Chromium.app
chrome/*/chrome-win32

.idea/
.profiles/
